git+https://github.com/whosonfirst/py-mapzen-whosonfirst-placetypes
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-export
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-utils
deepdiff
